

.Div1 {
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif;
}

.Div2 {
    text-align:  right;
    font-family: 'Roboto', sans-serif;
}

.Div3 {
    font-size: 58px;
    font-family: 'Roboto', sans-serif;
}