
body {
        background-color: #e8e8e8;
}

.container{
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
        min-height:100%;
        padding: 1%;
}
.left-col{
        background-position: bottom center;
        background-size: 30%;
        float: left;
        line-height: normal;
        text-align: center;
        width: 30%;
}
.center-col{
        border-left: 10px solid;
        border-right: 10px solid;
        float: left;
        line-height: normal;
        padding: 10px;
        text-align: left;
        width: 33%;
        line-height:75px;
}
.right-col{
        background-position: bottom center;
        background-size: 30%;
        float: left;
        padding: 10px;
        text-align: center;
        width : 30%;   
}
.contact{
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        text-decoration:underline;     
}
.ph{
        line-height-step: 18pt;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: left;
}
.em{
        line-height-step: 18pt;
        padding-top: 00px;
        padding-bottom: 0px;
        text-align: left;
}
.add{
        line-height-step: 18pt;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: left;
}
.follow{
        text-decoration:underline;
}
.auc{
        border-top: 10px solid;
        border-bottom: 10px solid;
        font-weight: 900;
        position: relative;
        top: 10px;
        text-decoration-style: wavy;
        
}

.liberty{
        image-resolution: 96dpi;
        position: relative;
        top: 15px; left: 80px;
}
.lincoln{
        position: relative;
        top: 118px;
}

h1{
        font-family: 'Open Sans', sans-serif;
}

