
body {
  background-color: rgb(45, 7, 8);
}

p {
  color: blue; /* Styles! */
  font-size: 20px;
  font-style: italic;
  line-height: 22px;
}

h1{
  /* left, center, right, bottom, top */
  text-align: center; 
  text-transform: uppercase;
}