
.container{
        font-family: 'Open Sans', sans-serif;
        min-height:500px;
        padding: 1%;
        box-sizing: border-box;
}
.left-col{
        background-image: url("/images/liberty.jpg");
        background-position: bottom center;
        background-size: 30%;
        background-color: #cccccc;
        text-align: center;
        width: 30%;
        float: left;
}
.center-col{
        background-color: yellow;
        border-left: 10px solid;
        border-right: 10px solid;
               float: left;
        text-align: left;
        width: 33%;
 
}
.right-col{
        background-image: url("/images/lincoln.jpg");
        background-position: bottom center;
        background-size: 30%;
        background-color: #cccccc;
        text-align: center;
        float: left;
        width: 30%;
        
}
.ph{
        text-align: left;
}
.em{
        text-align: left;
}
.add{
        text-align: left;
}


h1 {
        font-family: 'Open Sans', sans-serif;
}
