
.container{
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
        min-height:100%;
        padding: 1%;
}
.left-col{
        background-image: url("/images/liberty.jpg");
        background-position: bottom center;
        background-size: 30%;
        background-color: #cccccc;
        float: left;
        text-align: center;
        width: 30%;
}
.center-col{
        background-color: yellow;
        border-left: 10px solid;
        border-right: 10px solid;
        float: left;
        padding: 0px;
        text-align: left;
        width: 33%;
}
.right-col{
        background-image: url("/images/lincoln.jpg");
        background-position: bottom center;
        background-size: 30%;
        background-color: #cccccc;
        float: left;
        text-align: center;
        width: 30%;
        
}
.ph{
        padding-top: 10px;
        padding-bottom: 0px;
        text-align: left;
}
.em{
        padding-top: 10px;
        padding-bottom: 0px;
        text-align: left;
}
.add{
        padding-top: 10px;
        padding-bottom: 0px;
        text-align: left;
}


h1 {
        font-family: 'Open Sans', sans-serif;
}
