
.header{        
        font-family: 'Roboto Slab', serif;
        background-color: darkblue;
        tet-align: center;

}
.container{
        font-family: 'Open Sans', sans-serif;
}
.left-col{
        background-image: "/images/lincoln.jpg";
}
.-col{

}
.footer{
        font-family: 'Roboto Slab', serif;
}


h1 {
        font-family: 'Open Sans', sans-serif;
}
